footer.is-open {
  height: 100%;
}

.logged-in footer.is-open {
  height: calc( 100% - 32px );
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 90;
  height: 138px;
  bottom: 0;
  border-top: 1px solid var(--colorHeaders);
  background-color: var(--colorLight);
  transition: all .3s;

  #contact-form {
    left: 0;
    bottom: 0;
    /* transform: translate3d(0, 100%, 0); */
    transition: all .3s;

    /* &.is-open {
      transform: translate3d(0, 0, 0);
    } */
  }

  .contact-form_wrapper {
    border-left: 3px solid var(--colorAccent);
    border-right: 3px solid var(--colorAccent);
    border-bottom: 3px solid var(--colorAccent);

    .wpforms-container form.wpforms-form .wpforms-field-container {
      width: 70%;

      input {
        padding: 20px 24px;
        background-color: transparent;
        border: 1px solid var(--colorHeaders);
        border-radius: 0;
        height: 61px;
      }

      textarea {
        padding: 20px 24px;
        background-color: transparent;
        border: 1px solid var(--colorHeaders);
        border-radius: 0;
        height: 178px;
      }
    }

    div.wpforms-container-full button[type=submit] {
      width: 257px;
      height: 257px;
      border-radius: 100%;
      background: var(--colorAccent);
      color: var(--colorwhite);
      position: absolute;
      right: 0;
      top: -288px;
      transition: all .3s;
      border: 3px solid var(--colorAccent);

      &:not(:hover):not(:active) {
        background: var(--colorAccent);
        color: var(--colorwhite);
      }

      &:hover,
      &:active {
        background: var(--colorLight);
        color: var(--colorAccent);
      }

      &:focus {
        outline: none;
      }
    }

  }
  #color-toggle {
    position: relative;

    .icon {
      margin-right: 12px;
      height: 32px;
      width: 32px;
      margin-top: -6px;
      transition: all .3s;
    }

    .inner-icon-wrapper {
      transition: all .3s;
    }

    &.dark-mode {
      .inner-icon-wrapper {
        transform: rotate(180deg);
      }
    }

    &:hover .icon {
      animation: wiggle .3s 1;
    }
  }
}
@keyframes wiggle {
  0% {
     transform: rotate(0deg); 
    }
  25% {
    transform: rotate(-10deg);
    }
  75% {
     transform: rotate(10deg);
     }
 100% {
   transform: rotate(0deg); 
  }
}
.btn-ghost {
  padding: 20px;
  min-width: 258px;
  font-weight: 700;
  border: 1px solid var(--colorDark);
  border-radius: 94px;
  transition: all .3s;
}

.magnetic-wrap:hover {
  .btn-ghost {
    border-color: var(--colorAccent);
    background-color: var(--colorAccent);
    color: var(--colorWhite);
  }
}