.logged-in header {
  top: 32px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, #F5EDE6 0%, rgba(245, 237, 230, 0.00) 100%);
  backdrop-filter: blur(14px);
  z-index: 90;

  #menu-primary-navigation {
    display: flex;
    justify-content: flex-end;

    li {
      &:not(:last-of-type) {
        margin-right: 48px;
      }
    }
  }
}