.homepage-hero {
  border-bottom: 3px solid var(--colorAccent);

  .homepage-hero__icons {
    fill: var(--colorAccent);
  }

  .square {
    width: 457px;
    height: 428px;
    border: 1px solid var(--colorHeaders);
  }

  .homepage-hero_headshot {
    background-repeat: no-repeat;
    bottom: -1px;
    left: 0;
    position: absolute;
    max-width: 350px;
  }

  .splide__slide.outline-text {
    animation: none;
    background-position: center 0;
    transition: all .3s ease-in-out;
    margin-right: 55px;
  }

  .splide__slide.outline-text {
    white-space: nowrap;
  }

  .splide__slide .dot {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: var(--colorAccent);
    top: 42%;
    transform: translateY(-50%);
    position: absolute;
    right: -33px;
  }

  .magnetic-wrap {
    display: inline-block;
    position: absolute;
    margin: 12px;
    z-index: 50;

    &.right {
      top: 69%;
      right: -171px;
      transform: translate(-50%, -50%);

      .round-button {
        width: 144px;
        height: 144px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid var(--colorAccent);
        font-weight: bold;
        font-size: 16px;
        z-index: 30;
        position: relative;

        &.right {
          background-color: var(--colorLight);
          color: var(--colorDark);
          transition: all .3s;
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            transform: translate3d(0, 105%, 0);
            transition: all .3s;
            background-color: var(--colorAccent);
            z-index: -1;
          }
        }
      }

      &:hover {
        .right {
          border: 3px solid var(--colorAccent);
          background-color: var(--colorAccent);
          color: var(--colorLight);
        }
        .right::after {
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &.bottom {
      bottom: -72px;
      left: -72px;
      border-radius: 100%;

      .round-button {
        width: 144px;
        height: 144px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid var(--colorAccent);
        font-weight: bold;
        font-size: 16px;
        z-index: 30;
        position: relative;

        &.down {
          background-color: var(--colorAccent);
          color: var(--colorWhite);
          transition: all .5s;
          overflow: hidden;
 
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            transform: translate3d(0, 105%, 0);
            transition: all .3s;
            background-color: var(--colorLight);
            z-index: -1;
          }

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            transform: translate3d(0, 105%, 0);
            transition: all .3s;
            background-color: var(--colorLight);
            z-index: -1;
          }
        }
      }

      &:hover {
        .round-button.down {
          color: var(--colorAccent);

          &::before {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }

    .magnetic-size {
      position: absolute;
      bottom: -12px;
      top: -12px;
      left: -12px;
      right: -12px;
      z-index: 1;
      border-radius: 50%;
      /* border: 2px dashed #333; */
    }
  }
  .splide__slide.outline-text {
    animation: none;
    background-position: center 0;
    transition: all .3s ease-in-out;

    /* &:hover {
      background-position: center 100%;
    } */
  }
}