:root {
  --navbarHeight: 80px;

  --topOffset: var(--navbarHeight);

  --gutter: 1.5rem;
}

main.main {
  padding-bottom: 137px;
  position: relative;
}

body {
  transition: all .3s;
  background-color: var(--colorLight);
  padding-top: var(--navbarHeight);
  position: relative;

  --colorAccent: theme(colors.accent);
  --colorLight: theme(colors.light);
  --colorHeaders: theme(colors.headers);
  --colorDark: theme(colors.dark);
  --colorWhite: theme(colors.white);
}

body.dark-mode {
  --colorAccent: theme(colors.accentSecondary);
  --colorLight: theme(colors.lightSecondary);
  --colorHeaders: theme(colors.headersSecondary);
  --colorDark: theme(colors.darkSecondary);
  --colorWhite: theme(colors.whiteSecondary);
}

.text-color-accent {
  color: var(--colorAccent);
}
.text-color-headers {
  color: var(--colorHeaders);
}
.text-color-dark {
  color: var(--colorDark);
}
.text-color-white {
  color: var(--colorWhite);
}
.text-color-light {
  color: var(--colorLight);
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(-100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

.transition-drop {
  transition: 500ms;
  transform: translateY(0);
}

html.is-animating .transition-drop {
  transform: translateY(100%);
}

main {
  overflow: hidden;
}

/* .loading-overlay {
  position: absolute;
  opacity: 1;
  transition: all .5s;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: blue;
} */

.logged-in {
  --topOffset: calc(var(--navbarHeight) + 32px);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(theme(spacing[gutter]) * -1);
  margin-left: calc(theme(spacing[gutter]) * -1);
}

.col {
  padding-left: theme(spacing[gutter]);
  padding-right: theme(spacing[gutter]);
}

.aspect-square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.aspect-horizontal::after {
  content: '';
  display: block;
  padding-bottom: 67.14%;
}

.aspect-vertical::after {
  content: '';
  display: block;
  padding-bottom: 133.81%;
}

.aspect-tall-square:after{
  content: '';
  display: block;
  padding-bottom: 112.1%;
}

.aspect-short-square:after{
  content: '';
  display: block;
  padding-bottom: 94.47%;
}

.fit-image {
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

.expand {
  position: relative;
  height: 20px;
  width: 20px;
}

.horizontal {
  display: inline-block;
  background-color: var(--colorHeaders);
  position: absolute;
  width: 20px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical {
  display: inline-block;
  background-color: theme(colors[headers]);
  position: absolute;
  width: 1px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-in;
}

.active .vertical {
  height: 0;
}